<ion-view class="playl-new-with-theme-view" cache-view="false">
    <div class="playl-new-with-theme-bg"></div>
    <ion-content scroll="true">
        <div class="header" style="height:10%">
            <div class="playl-new-with-theme-item">
                <p class="playl-new-with-theme-item-title-header">{{ 'edit_playlist' | translate }}</p>
            </div>
        </div>
        <form name="playlNewForm">
            <ion-scroll zooming="true" direction="y">
                <div class="row playl-new-with-theme-image-row">
                    <label>
                        <span class="input-label">{{ 'image' | translate }}</span>
                        <img class="input-50 playl-new-with-theme-image" style="width:100px;height:100px" src="{{playList.image}}" />
                    </label>
                    <label style="display: flex;align-items: center;">
                        <button class="button image-button" on-touch="doSaveImage()">{{ 'add_image' | translate }}</button>
                    </label>
                </div>
                <div class="row playl-new-with-theme-row">
                    <label>
                        <span class="input-label">{{ 'no_of_playlist' | translate }}</span>
                        <input type="number" class="input-100" placeholder="{{ 'number' | translate }}" ng-model="playList.id" readonly>
                    </label>
                </div>
                <div class="row playl-new-with-theme-row">
                    <label>
                        <span class="input-label">{{ 'date' | translate }}</span>
                        <div class="input-90 custom-date">
                            <input type="text" placeholder="{{ 'date' | translate }}" ng-model="playList.date" readonly required>
                        </div>
                    </label>
                    <label>
                        <span class="input-label">{{ 'title' | translate }}</span>
                        <input type="text" class="input-100" placeholder="{{ 'title' | translate }}" ng-model="playList.title" required>
                    </label>
                </div>
                <div class="row playl-new-with-theme-row row-textarea">
                    <label>
                        <span class="input-label">{{ 'notes' | translate }}</span>
                        <textarea type="text" required class="input-100" placeholder="{{ 'notes' | translate }}" rows="5" ng-model="playList.note"></textarea>
                    </label>
                </div>
                <div class="row playl-new-with-theme-row" style="height:10% !important;">
                    <p class="input-label">{{ 'theme_list' | translate }}</p>
                </div>
                <div class="playl-new-with-theme-container">
                    <div class="playl-new-with-theme-item" ng-repeat=" theme in themeList">
                        <div style="height:58px;padding-top:5px;">
                            <span class="playl-new-with-theme-item-no"> {{theme.id}} </span>
                            <span class="playl-new-with-theme-item-title">{{ theme.title }}</span>
                            <p class="playl-new-with-theme-item-content">{{ theme.artist + " : " + theme.tone + " : " + theme.speed + " bpm"}}</p>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </form>
        <div class="footer-row" style="height:8%;display:flex;align-items:center;margin-top: 5px;">
            <div class="footer-content">
                <button class="button footer-button" ng-disabled="!playlNewForm.$dirty || playlNewForm.$invalid " on-touch="doSave()">{{ 'save' | translate }}</button>
            </div>
        </div>
    </ion-content>
</ion-view>