.playl-add-theme-bg {
    position: relative;
    height: 100%;
    background-color: rgb(26, 26, 26);
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    background-size: cover;
    z-index: -3; 
}

.playl-add-theme-header {
    height: 5%;
}

.playl-add-theme-header .playl-add-theme-header-title {
    margin-left: 5%;
    margin-top: 3vh;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(37, 175, 178);
    text-transform: uppercase;
}

.playl-add-theme-view .playl-add-theme-item {
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    font-size: 13px;
    font-weight: bold;
    height: 8%;
}

.playl-add-theme-view .playl-add-theme-row {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 10px;
    margin-top: 2%;
    height: 11%;
    color: white;
}


.playl-add-theme-row .playl-add-theme-item-title, .playl-add-theme-row .playl-add-theme-item-no{
    position: absolute;
    font-size: 2vh;
    font-weight: bold;
    line-height: 3vh;
}

.playl-add-theme-row .playl-add-theme-item-title{
    position: absolute;
    margin-left: 10%;
}

.playl-add-theme-row .playl-add-theme-item-content {
    position: absolute;
    margin-left: 10%;
    margin-top: 3.3vh;
    font-size: 1.8vh;
    font-weight: normal;
    line-height: 2vh;
}

.playl-add-theme-row .playl-add-theme-item-date {
    position: absolute;
    margin-left: 10%;
    margin-top: 5.5vh;
    font-size: 1.8vh;
    font-weight: normal;
    line-height: 2vh;
}

.playl-add-theme-view .playl-theme-item {
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    height: 60px;
    background-color: rgb(45, 45, 51);
    padding: 0px;
}

.playl-theme-item-container .playl-theme-item-divider {
    border-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(17, 17, 17);
    height: 1px;
    width: 94%;
    position: absolute;
    margin-left: 3%;
}

.playl-theme-item .playl-theme-item-title, .playl-theme-item .playl-theme-item-no{
    position: absolute;
    margin-top: 8px;
    margin-left: 5%;
}

.playl-theme-item .playl-theme-item-title{
    margin-left: 15%;
}

.playl-theme-item .playl-theme-item-content {
    position: absolute;
    margin-left: 15%;
    margin-top: 30px;
    font-size: 13px;
    font-weight: normal;
}

.playl-theme-item .playl-theme-item-menu {
    position: absolute;
    padding-top: 10px;
    margin-left: 85%;
    font-size: 25px;
    font-weight: normal;
}

.playl-theme-item .playl-theme-item-menu button:before {
    font-size: 28px;
    line-height: 30px;
    color: rgb(98, 95, 113);
    font-weight: normal;
}

.playl-add-theme-row button{
    line-height: 35px;
    font-size: 35px;
}

.playl-add-theme-row button::before{
    line-height: 35px;
    font-size: 35px;
}
.playl-add-theme-row .item-toggle {
    background: transparent;
    border: none;
    width: 10px;
}

.playl-add-theme-row .item-toggle .ng-binding {
    padding-left: 25px;
}

.playl-add-theme-row label.toggle {
    left: 1px;
}

.playl-add-theme-row.footer-button {
    height: 6%;
}

.playl-add-theme-row.footer-button label {
    text-align: center;
}

.playl-add-theme-row.footer-button label button {
    font-size: 2vh;
    font-weight: bold;
    background-color: rgb(37, 175, 178);
    border-radius: 30px;
    width: 27vw;
    text-transform: uppercase;
    min-height: 5vh;
    margin-left: 2vw;
    padding: 0 5px;
}

.playl-add-theme-row.footer-button label .add-theme {
    width: 30vw;
    margin-left: 1vw;
}

ion-scroll.playl-add-theme-list-scroll {
    margin-left: 4%;
    width: 92%;
    height: 60%;
    background-color: rgb(45, 45, 51);
}

.playl-add-theme-view .playl-add-theme-theme-list-header {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 10px;
    margin-top: 2%;
    height: 7%;
}


.playl-add-theme-theme-list-header .theme-list-header {
    margin-top: 2vh;
    font-size: 2vh;
    font-weight: bold;
    color: rgb(37, 175, 178);
    text-transform: uppercase;
}
